.calculate{
    width: 25%;
    height: 400px;
  }
  @media (max-width: 768px) {
  .section {
  flex-direction: column;
  align-items: center;
  }
  .calculate{
    margin-top: 20px;
  width: 100%;
  }
  }